<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS2ThrowZones</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1><a href="/">CS2ThrowZones</a></h1>
        <nav>
            <ul>
                <li>
            </ul>
        </nav>
    </header>
    <main>
        <h2></h2>
        <div class="map-grid-container">
            <div class="map-grid">
                <a href="/maps/anubis">
                    <img src="/img/anubis.jpg" alt="Anubis">
                </a>
                <a href="/maps/ancient">
                    <img src="/img/ancient.jpg" alt="Ancient">
                </a>
                <a href="/maps/dust2">
                    <img src="/img/dust2.jpg" alt="Dust 2">
                </a>
                <a href="/maps/inferno">
                    <img src="/img/inferno.jpg" alt="Inferno">
                </a>
                <a href="/maps/mirage">
                    <img src="/img/mirage.jpg" alt="Mirage">
                </a>
                <a href="/maps/nuke">
                    <img src="/img/nuke.jpg" alt="Nuke">
                </a>
                <a href="/maps/overpass">
                    <img src="/img/overpass.jpg" alt="Overpass">
                </a>
                <a href="/maps/vertigo">
                    <img src="/img/vertigo.jpg" alt="Vertigo">
                </a>
            </div>
        </div>
    </main>
</body>
</html>
